<% if @stock %>
  <div class="card card-header w-25">
    <strong>Symbol: <%= @stock.ticker %></strong>
    <strong>Name: <%= @stock.name %></strong>
    <strong>Last Price: <%= @stock.last_price %></strong>
  </div>
<%end%>
<div class="w-25" id="message">
    <%= render 'layouts/messages' %>
</div>
